@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-brand-dark text-white font-sans;
  }
}

@layer components {
  .font-display {
    font-family: 'Outfit', sans-serif;
  }
  
  .glass-panel {
    @apply bg-white/5 backdrop-blur-md border border-white/10;
  }
}
